
/* @media only screen(min-width:600px) { */
    

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
   
    display: flex;
    height: auto;
    background-color: rgb(52, 60, 60);
    /* margin-bottom: -2rem; */
    

}
.rightDiv{
 
    height: 90vh;
    width: 100vh;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    /* margin-top: 2rem; */
    
    
}
.leftDiv{
  
    height: 90vh;
    width: 120vh;
    margin-top: 35px;
}
.Card1{
   
    height: 50vh;
    width: 30vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    box-shadow: 2px 2px 4px 1px;
    border-radius: 40px;
     
}
.Card1:hover{
    transform: scale(1.3);
}
.Card2:hover{
    transform: scale(1.3);
}

.Card2{
    margin-left: 20px;
    height: 60vh;
    margin-top: 10px;
    width: 30vh;
    border: 1px rgb(230, 165, 53) solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px 1px;
    border-radius: 40px;
}
.P{
    margin-left: 50px;
}
.btn{
    padding: 5px;
    font-size: 10px;
    border-radius: 50px;
    box-shadow: 2px 2px 4px 1px;
}
.btn1{
    padding: 5px;
    font-size: 10px;
    border-radius: 50px;
    box-shadow: 2px 2px 4px 1px;
    background-color: green;
    color: aliceblue;
}
.h{
    font-size: 15px;
    font-weight: 700;
}

@media screen and (max-width:710px){
    .main{
        margin-top: -3rem;
        display: block;
        height: auto;
        background-color: rgb(52, 60, 60);
    }
    .rightDiv{
        margin-top: 3rem;
        height: 90vh;
        width: 100vh;
        margin-top: 35px;
        /* display: flex;
        justify-content: center; */
        /* margin-top: 2rem; */
        
        
    }
    .leftDiv{
      margin-top: -3rem;
        height: 90vh;
        width: 120vh;
        margin-top: 35px;
    }
    .Member{
        height: 60px;
    }
    .Card1{
   
        height: 50vh;
        width: 30vh;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: cadetblue;
        box-shadow: 2px 2px 4px 1px;
        border-radius: 40px;
         
    }
    .Card2{
        margin-left: 20px;
        height: 60vh;
        margin-top: 70px;
        width: 30vh;
        border: 1px rgb(230, 165, 53) solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 2px 4px 1px;
        border-radius: 40px;
    }
       
    
}
